/*
    Editor: Lucas Vollmann-Oswald
*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'RedUnDead';
    font-size: smaller;
    src: url("../../../public/fonts/redundead.ttf");
}

@font-face {
    font-family: 'Valium';
    font-size: smaller;
    src: url("../../../public/fonts/redundead.ttf");
}

html {
    scroll-behavior: smooth;
}

.background-img {
    background-image: url("https://images.unsplash.com/photo-1627756163860-1ee7ffa59663?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.gameBackground {
    background-image: url("/HauntedHouseGameboard.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.cat-image {
    background-image: url("https://images.unsplash.com/photo-1627756163860-1ee7ffa59663?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #000100;
}

.font-redundead {
    font-size: 50px;
    font-family: "RedunDead";
}

div.cell {
    padding: 0;
    margin: 0;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}*/
