
.container {
    padding: 0 0.5rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../../../public/haunted-house.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

.topnav {
    top: 1rem;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square {
    width: 80%;
    height: 10vh;
    padding-bottom: 50%;
    border-radius: 10px;
    position: relative;
    background-image: linear-gradient(to bottom, #252B24, #2514);
}

.square1h {
    width: 25%;
    height: 10%;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 20%;
    background-color: darkred;
}

.square2h {
    width: 25%;
    height: 10%;
    border-radius: 10px;
    position: absolute;
    top: 5%;
    left: 55%;
    background-color: darkred;
}

.square1p {
    width: 25%;
    height: 70%;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: darkred;
    max-height: 70%;
}

.square2p {
    width: 25%;
    height: 70%;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 55%;
    background-color: darkred;
}